<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      th,
      td {
        border: 1px solid red;
        padding: 5px;
      }
      .mnt_total {
        text-align: end;
        padding-right: 10px;
      }
    </style>
  </head>
  <body>
    <h2>Etat de loyer siége Reporting pour la data {{mois}}/{{annee}}</h2>
    <table>
      <thead>
        <tr>
          <th>Numero Contrat</th>
          <th>Intitule Lieu</th>
          <th>Montant Loyer</th>
        </tr>
      </thead>

      <tbody>
        {{#each lieu_data}}
        <tr>
          <td>{{numero_contrat}}</td>
          <td>{{intitule_lieu}}</td>
          <td>{{montant_loyer}}</td>
        </tr>
        {{/each}}
        <tr>
          <td class="mnt_total" colspan="3">
            Total montant de loyer : {{ total_montant_loyer }}
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
