<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table,th,td {
            border:  1px solid red;
        }
    </style>
</head>
<body>
    TEST Convert HTML TO PDF
    <table>
        <thead>
            <tr>
                <th> Column </th>
                <th> Column </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>TEST</td>
                <td>TEST</td>
            </tr>
        </tbody>
        <tr>
               
        </tr>
    </table>
</body>
</html>